.header {
  display: flex;
  height: 40px;
  justify-content: flex-end;
  padding: 10px 50px;
  text-align: center;
}
.buttons {
  display: flex;
  justify-content: flex-end;
}
button {
  margin-right: 40px;
}
