<header class="header">
  <div class="buttons">
    <button
      *ngIf="user !== null"
      mat-raised-button
      color="primary"
      (click)="openDialog()"
    >
      Send message
    </button>
    <button
      mat-flat-button
      color="primary"
      *ngIf="user === null"
      (click)="signIn()"
    >
      Sign In
    </button>
    <button
      mat-flat-button
      color="primary"
      (click)="signOut()"
      *ngIf="user !== null"
    >
      Sign Out
    </button>
  </div>
</header>
<app-files-list></app-files-list>
