.header {
  display: flex;
  height: 40px;
  border-bottom: black 2px solid;
  justify-content: space-between;
  padding: 10px 50px;
  text-align: center;
}
.buttons {
  display: flex;
  justify-content: flex-end;
}
button {
  margin-right: 40px;
}
h2{
  margin-left: 30%;
}
