<mat-card>
  <mat-card-content>
    <h1>Form</h1>
    <form [formGroup]="form" (ngSubmit)="formSubmit()" novalidate>
      <div>
        <app-input
          label="First name"
          controlName="firstName"
          [formController]="getFirstName()"
          [errors]="errorsForFirstName()"
        ></app-input>
      </div>
      <div>
        <app-input
          label="Last name"
          controlName="lastName"
          [formController]="getLastName()"
          [errors]="errorsForLastName()"
        ></app-input>
      </div>
      <div>
        <app-time-picker
          label="Choose the time"
          controlName="time"
          [formGroup]="form"
        ></app-time-picker>
      </div>
      <div>
        <app-date-picker
          controlName="dateOfBirth"
          [errors]="errorsForDateOfBirth()"
          [formController]="getDateOfBirth()"
          label="Choose the date of birth"
        ></app-date-picker>
      </div>
      <div>
        <button mat-flat-button color="primary" [disabled]="form.invalid">
          Submit
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
