<mat-card>
  <mat-card-content>
    <h1>Form</h1>
    <form [formGroup]="form" (ngSubmit)="formSubmit()" novalidate>
      <div>
        <app-input [control]="formState.firstName"></app-input>
      </div>
      <div>
        <app-input [control]="formState.lastName"></app-input>
      </div>
      <div>
        <app-time-picker [control]="formState.time"></app-time-picker>
      </div>
      <div>
        <app-date-picker [control]="formState.dateOfBirth"></app-date-picker>
      </div>
      <div>
        <button mat-flat-button color="primary" [disabled]="form.invalid">
          Submit
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
