<mat-form-field
  appearance="fill"
  cdkOverlayOrigin
  #originOverlay="cdkOverlayOrigin"
>
  <mat-label>{{ control.label }}</mat-label>
  <input matInput [formControlName]="control.controlName" type="text" />
  <mat-icon
    matSuffix
    (click)="iconClick($event)"
    id="time"
    [color]="isHourOpen || isMinuteOpen ? 'primary' : null"
    >query_builder</mat-icon
  >
</mat-form-field>
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="originOverlay"
  [cdkConnectedOverlayOpen]="isHourOpen || isMinuteOpen"
  [cdkConnectedOverlayOffsetY]="-27"
  (overlayOutsideClick)="outsideClick($event)"
>
  <div *ngIf="isHourOpen" class="template">
    <div class="label">Choose hour</div>
    <ul class="time-list">
      <li
        *ngFor="let hour of hoursArray"
        (click)="hourClick(hour)"
        class="time-element"
        [class.active-item]="hour == hourValue"
      >
        {{ hour }}
      </li>
    </ul>
  </div>
  <div *ngIf="isMinuteOpen" class="template">
    <div class="label">Choose minute</div>
    <ul class="time-list">
      <li
        *ngFor="let minute of minutesArray"
        (click)="minuteClick(minute)"
        class="time-element"
        [class.active-item]="minute == minuteValue"
      >
        {{ minute }}
      </li>
    </ul>
  </div>
</ng-template>
